.ArtistPage {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.ArtistInfo {
    text-align: center;
    min-width: 250px;
    width: 250px;
}

.ArtistName {
    display: inline-block;
    text-decoration: none;
    color: var(--primary);
    font-weight: 700;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.ArtistImage {
    width: 100%;
    aspect-ratio: 1/1;
}

.Image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ArtistDescription {
    margin-bottom: 10px;
}

.ArtistPopularity {
    color: var(--primary);
    font-weight: 700;
}

.TopTracksHeader {
    text-decoration: none;
    color: var(--primary);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

.PopularTracks {
    flex-grow: 1;
}
