.Track {
  display: grid;
  grid-template-columns: auto 1fr 80px;
  align-items: center;
  margin-bottom: 20px;
  max-width: 800px;
}

.track-info {
  display: grid;
  grid-template-columns: 1fr max-content;
  padding-right: 20px;
  align-items: center;
}

.album-art {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.title {
  color: #00232e;
}

.track-text {
  color: #05386b;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 500px;
  white-space: nowrap;
}

.track-text p {
  margin: 5px;
  text-align: left;
  padding-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 500px;
  white-space: nowrap;
}
