.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  color: #05386b;
  background: transparent;
  border: 1px solid #05386b;
  border-radius: 3px;
}

button:hover {
  color: #8ee4af;
  background: #05386b;
  border-radius: 3px;
}

.TopArtists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.TopTracks {
  display: flex;
  justify-content: center;
}

.content {
  padding-top: 80px;
}
