html {
    scrollbar-color: #666 #201c29;
    scrollbar-width: thin;
    background-color: var(--background);
    color: var(--secondary);
    padding-top: 100px;
    padding-bottom: 25px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: #201c29;
}

body::-webkit-scrollbar-thumb {
    background: #666;
}

:root {
    --primary: #fceff9;
    --secondary: #9ca2ab;
    --accent: #475e45;
    --background: #063437;
    --tertiary: #042325;
    --spotify-green: #aafcb8;
}

ol,
ul {
    list-style: none;
    padding-left: 0;
}

a {
    all: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: inline-block;
    text-decoration: none;
    color: var(--primary);
}

h1 {
    font-weight: 700;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    color: var(--secondary);
}

h3 {
    color: var(--primary);
}

button {
    background-color: transparent;
    color: var(--spotify-green);
    border: 1px solid var(--spotify-green);
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

button:hover {
    background-color: var(--spotify-green);
    color: var(--background);
}

.rounded {
    border-radius: 50%;
}
