html {
    scrollbar-color: #666 #201c29;
    scrollbar-width: thin;
    background-color: var(--background);
    color: var(--secondary);
    padding-top: 50px;
    padding-left: 65px;
    padding-bottom: 25px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: #201c29;
}

body::-webkit-scrollbar-thumb {
    background: #666;
}

:root {
    --primary: #fceff9;
    --secondary: #9ca2ab;
    --accent: #475e45;
    --background: #063437;
    --tertiary: #042325;
    --spotify-green: #1db954;
}

input,
textarea,
button {
    all: unset;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
    padding-left: 0;
}

a {
    all: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: inline-block;
    text-decoration: none;
    color: var(--primary);
}

h1 {
    font-weight: 700;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    color: var(--secondary);
}

h3 {
    color: var(--primary);
}

button {
    display: inline-block;
    background-color: var(--spotify-green);
    color: var(--primary);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 11px 24px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
}

button:hover {
    filter: brightness(120%);
}

button:disabled {
    color: var(--primary);
    filter: grayscale(50%);
    border: 1px solid var(--secondary);
}

.rounded {
    border-radius: 50%;
}
