.Playlist {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.PlaylistInfo {
    margin-right: 40px;
    text-align: center;
    width: 250px;
}

.PlaylistName {
    display: inline-block;
    text-decoration: none;
    color: var(--primary);
    font-weight: 700;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.PlaylistImage {
    width: 250px;
    aspect-ratio: 1/1;
}

.Image {
    width: 100%;
    height: 100%;
}

.PlaylistDescription {
    margin-bottom: 10px;
}

.PlaylistCount {
    color: var(--primary);
    font-weight: 700;
}
