.Playlist {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px;
}

@media only screen and (max-width: 900px) {
    .Playlist {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        justify-content: center;
        align-items: center;
    }

    .PlaylistInfo {
        margin: auto;
    }
}

.PlaylistInfo {
    text-align: center;
    width: 300px;
    max-width: 300px;
}

.PlaylistName {
    display: inline-block;
    text-decoration: none;
    color: var(--primary);
    font-weight: 700;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.PlaylistImage {
    width: 300px;
    aspect-ratio: 1/1;
}

.Image {
    width: 100%;
    height: 100%;
}

.PlaylistDescription {
    margin-bottom: 10px;
}

.PlaylistCount {
    color: var(--primary);
    font-weight: 700;
}
