.Card {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary);
    padding: 25px;
    border-radius: 3%;
}

.CardFixedSize {
    width: 200px;
    flex: 1 1 270px;
    height: 270px;
}

.Card:hover {
    filter: brightness(120%);
    transition: filter 0.15s linear;
    opacity: 1;
}

.CardImageWrapper {
    width: 100%;
}

.CardImage {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1; /* defining the aspect ratio of the imaage */
}

.CardImage img {
    max-width: 100%;
    height: 100%;
}

.RoundedImage {
    border-radius: 50%;
}

.Title {
    color: var(--primary);
    padding: 5px 0;
    font-size: larger;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Description {
    color: var(--secondary);
    font-size: medium;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.HoverIcon {
    filter: brightness(100%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--accent);
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 99;

    box-shadow: 0px 2px 5px 1px black;
}

.Card:hover .HoverIcon {
    opacity: 1;
}

.always-on {
    opacity: 1;
}

.HoverIcon:hover {
    filter: brightness(120%);
    border-width: 10px;
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 5px;
}
