.ScrollArea {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;
    scrollbar-width: none;
}

.ScrollArea:hover {
    scrollbar-width: thin;
}
