.Tabs {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.Tab {
    background-color: var(--background);
    filter: brightness(80%);
    color: var(--secondary);
    border-radius: 25px;
    padding: 4px 10px;
}

.Tab[data-state="active"] {
    background-color: var(--primary);
    color: var(--background);
}
