.SelectedSeeds {
    width: 50%;
    height: 250px;
    border-radius: 20px;
    background-color: var(--accent);
    scrollbar-width: none;
    color: var(--primary);
    overflow-y: auto;
    padding: 20px;
}
