.SearchBar {
    width: 100%;
    max-width: 500px;
}

.SearchInput {
    all: unset;
    width: 80%;
    border-radius: 30px;
    padding: 12px 20px 12px 50px;
    background-color: var(--background);
    filter: brightness(90%);
    border: 2px solid transparent;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-icon {
    position: absolute;
    color: var(--secondary);
    padding: 15px 0 0 20px;
    z-index: 2;
}

.SearchBar:hover {
    color: var(--primary);
}

.SearchBar:hover .input-icon {
    color: var(--primary);
}

.SearchInput:hover {
    border: 2px solid var(--secondary);
}

.SearchInput:focus {
    color: var(--primary);
    border: 2px solid var(--primary);
}

.SearchBar:focus-within .input-icon {
    color: var(--primary);
}
