.Artist {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr;
    -moz-box-align: center;
    align-items: center;
    margin-bottom: 30px;
    height: 50px;
    min-height: 50px;
}

.artist-info {
    display: grid;
    grid-template-columns: 1fr max-content;
    color: var(--primary);
    font-size: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 5px;
}

.artist-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 20px;
}

.artist-image-wrapper {
    margin-right: 0px;
}

.artist-image {
    display: inline-block;
    position: relative;
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    margin-right: 20px;

    border-radius: 50%;
}

a:hover {
    text-decoration: underline;
}
