.TabsRoot {
    display: flex;
    flex-direction: column;
}

.TabsList {
    display: flex;
}

.TabHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Lable {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 600;
}

.TabsTrigger {
    font-family: inherit;
    padding: 0 20px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: var(--accent);
    background-color: transparent;
    border-style: none;
    border-bottom: 3px;
}

.TabsTrigger:hover {
    border-bottom: 3px solid var(--accent);
}
.TabsTrigger[data-state="active"] {
    border-bottom: 3px solid var(--secondary);
    color: var(--secondary);
}
.TabsTrigger:focus {
    position: relative;
}

.TabsContent {
    outline: none;
}

.top-items {
    display: flex;
    flex-direction: column;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn {
    all: unset;
    aspect-ratio: 4 / 1;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--spotify-green);
    color: var(--spotify-green);
}

.btn:hover {
    background-color: var(--spotify-green);
    color: var(--tertiary);
}
