.UserTopItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

@media only screen and (max-width: 1000px) {
    .UserTopItems {
        display: block;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
