.Welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.welcome-btn {
    width: 200px;
    height: 50px;
    border-style: solid;
    border-color: var(--spotify-green);
    border-radius: 20px;
    background-color: var(--spotify-green);
    transition: 0.3s;
    color: var(--tertiary);
}

.welcome-btn:hover {
    border-style: solid;
    border-radius: 20px;
    background-color: transparent;
    color: var(--spotify-green);
}
